/**
 * input custom
 */

.zu-input input,
.zu-input textarea {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 32px;
  border: 1px solid var(--zu-color-grey, #b3b3b3);
  height: 50px;
  margin-top: -10px;
  background-color: var(--zu-background-primary);
  color: var(--ion-color-dark);
}

.zu-input textarea {
  height: auto;
}

.zu-input input:focus,
.zu-input input:active,
.zu-input.has-focus input,
.zu-input textarea:focus,
.zu-input textarea:active,
.zu-input.has-focus textarea {
  border: 2px solid var(--ion-color-primary) !important;
}

.zu-input label {
  float: left;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--zu-background-primary);
  color: var(--zu-color-dark);
  margin-left: 25px;
  float: left;
  width: auto;
}


.zu-input .count {
  color: var(--zu-color-dark);
  font-size: 14px;
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
}

:focus-visible {
  outline: 1px !important;
}


.zu-input.has-focus label {
  color: var(--zu-color-primary);
  background-color: var(--zu-background-primary);
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--zu-color-dark) !important;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=checkbox] {
  display: none;
}

input[type="checkbox"]+label:before {
  border: 1px solid var(--zu-color-grey-500);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 4px;
}

input[type="checkbox"]:checked+label:before {
  background: var(--zu-color-primary);
  color: var(--zu-background-primary);
  content: "\2713";
  text-align: center;
}